/*Prevent text adjust after orientation change*/

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; height: 100%}

/*Natural box layout - c/o Paul Cheney (Pluralsight)*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Clearfix c/o Paul Cheney (Pluralsight)*/
.clearfix:after{
    content:"";
    display:table;
    clear:both;
}
/*Default Link*/

a{
    color: $darkGray;
    text-decoration:none;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.2rem;
}
h6{
    font-size: 1rem;
}

/*-----Body Styles-----*/
body{
    min-height:100%;
    font-size:16px;
    font-family: $defaultFont;
    color: $darkGray;
}
/*----Header Styles----*/
header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: $gutter;
    background-color: $tacomaGray;

    section {
        padding-bottom: $gutter;
    }

    h1, h2, h3, h4, h5, h6, p, span, ul, li, a {
        color: $support2;
    }

    #tfdLogo {
        flex: 0 0 5rem;
        font-size: 1.5rem;

        img {
            width: 100%;
        }
    }

    #tfdName {
        font-size: 2rem;
        padding-left: .5em;
        color: white;
        span {
            font-size: 1rem;
            color: $secondaryColor;
        }
    }

    #hamburger {
        button {
            border: 1px white solid;
            border-radius: 4px;
        }

        padding-left: 1em;
        color: white;

        .fa-bars {
            padding: 4px;
            font-size: 2rem;
        }
    }
}
/*-----Nav Styles------*/
#mainNav {
    overflow: hidden;
    &.closed{max-height:0;}
    &.open{max-height:100em;}
    background-color: $primaryColor;
    color: white;

    li a {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        color: $tertiaryColor;
    }

    .nav-icon {
        flex: 0 0 2.5rem;
        font-size: 1.5rem;
        color: $support1;
        filter: drop-shadow(1px 1px rgba(0,0,0,.4));
    }

    #siteNav {
        li {
            padding: 5%;
            border-bottom: 1px solid darken($primaryColor,8%);
            border-top: .5px solid lighten($primaryColor,5%);
            font-size: 1.5rem;
        }

        .nav-text {
            text-shadow: rgba(0,0,0,.4) 1px 1px;
        }

        li:hover {
            background-color: darken($primaryColor, 5%);
        }
    }

    .current-page {
        background-color: darken($primaryColor, 3%);
    }



    #subMenu {
        padding-top: 10px;
        padding-left: 5%;
        li {
            padding: 5px;
            &.locked{
                display:none;
            }
            >a:hover {
                color: $support2;
            }

            span {
                font-size: 1.2rem;
            }

            .training-item {
                padding-left: 4%;
                color: $support3;

                > span {
                    font-size: 1rem;
                }

                span.unlocked {
                    color: lighten($support3, 50%);
                }
                span.unlocked:hover{
                    color: $support2;
                }
                span.locked{
                    display:none;
                }
            }
        }//submenu li
        .section-head {
            background-color: $secondaryColor;
            color: $support3;
            padding: 5px;
            width: 50%;
            border-radius: 4px;
            box-shadow: rgba(0,0,0,.3) 1px 1px 2px;
            text-shadow: rgba(0,0,0,0.3) 1px 1px;
        }
        .section-head:hover {
            background-color: $support2;

            > span {
                color: $support3;
            }
        }
    }
}

//nav

/*-----Main Styles-----*/
/*#trainingNav {
    background-color: lighten($primaryColor, 50%);
    padding: $gutter+1;
    
    ul li ul li {
        font-size: 1.2rem;
        padding: 1% 1% 1% $gutter ;
    }
}*/

main{
    padding: 5%;
    background-color:$tertiaryColor;
}
#feedback {
    background-color: $tertiaryColor;
}
/*----Footer Styles----*/
footer {
    min-height: 50px;
    background-color: darken($primaryColor, 5%);
    padding: $gutter;

    h1, h2, h3, h4, h5, h6, p, span, ul, li, a {
        color: white;
    }
    span{
        text-align:center;
    }
}



/*.tfd-logo{
    display:block;
    width:75%;
    margin: $gutter auto;
}*/


