/*----Body Styles----*/
.site-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: minmax(225px, 1fr) 4fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "logo  feedback   feedback "
        "nav  main  main "
        "nav footer  footer"
}

/*----Header Styles----*/
header {
    grid-area: logo;

    #hamburger{
        display:none;
    }
}
/*-----Nav Styles------*/
nav {
    grid-area: nav;

}
#mainNav {
    &.closed {
        max-height: 1000em;
    }
}
/*-----Main Styles-----*/

main {
    grid-area: main;
}
#feedback{
    grid-area:feedback;
}
/*----Footer Styles----*/

footer {
    grid-area: footer;
}
