/*Global Colors*/
$primaryColor: #655b5b;
$secondaryColor: #ececec;
$tertiaryColor:#f1f9fc;
$darkGray: #151515;

/*Support Colors*/
$support1:#a5d1f3;
$support2:#77bed2;
$support3:#747e80;
$support4:#000000;

/*Font Variables*/
$defaultFont: 'Futura', sans-serif;
$secondaryFont: 'Impact', sans-serif;
$tertiaryFont: 'Bookman', serif;
$normalFontWeight: 400;
$boldFontWeight: 700;
$slabFont:;
$serifFont:;

/*Global Spacing*/
$gutter: 2%;

/*Layout Vars*/
$navWidth: 160px;

